/* Custom styles for EventEase */

/* Add your custom CSS here to override Bootstrap defaults */

:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
}

/* Example custom styles */
.event-card {
  transition: transform 0.2s;
}

.event-card:hover {
  transform: translateY(-5px);
}

/* Poll Page custom buttons */
.option-button {
  border-radius: 6px;        
  padding: 1px 9px;       
  font-size: 20px;
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #fdfffe;
}

.option-button:hover {
  background-color: #0e59c9;
}

.addpoll-button {
  border: "1px solid gray";
  margin: "10px 0";
  padding: "10px";
  border-radius: "8px";
  width: "300px";
  flex-shrink: 0;
}

.poll-card {
  border: 1px solid gray;
  padding: 10px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-color: #7a7b7b;
  box-sizing: border-box;
}
